
.wcu-section {
  background-color: #f9fbfe;
}
.wcu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 700;
}
.wcu-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 20px;
}
.wcu-card {
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 20px;
}
.wcu-card-image {
  width: 100px;
  height: 70px;
}
.wcu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
}
.wcu-card-description {
  color: #7b8794;
  font-family: "Roboto";
  font-size: 20px;
}
.offers {
  color: #323f4b;
  font-style: italic;
  font-weight: 600;
}